{% extends "base.html" %}

{% block title %}Последние обновления на сайте{% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}
{% block content %}

{% load cache %}
{% cache 20 sidebar index_page %}
<div class="container">
  <!-- Вывод ленты записей -->
  {% for post in page %}
  <!-- Вот он, новый include! -->
  {% include "includes/post_item.html" with post=post %}
  {% endfor %}
</div>

<!-- Вывод паджинатора -->
{% include "includes/paginator.html" with items=page paginator=paginator%}


{% endcache %}
{% endblock %}
